# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables (VERY IMPORTANT)
.env

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# migrations cache
*/migrations/__pycache__/
